<div class="container">
    <h1><img src="../../../../../assets/icons/trophy.png" alt="">  {{labelService.labels['rank-gen']}}</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{labelService.labels['fullname']}}</th>
                <th scope="col">{{labelService.labels['email']}}</th>
                <th scope="col">{{labelService.labels['exp']}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of summaryUserProfile ;let indice=index">
                <th scope="row" class="">{{indice +1}}</th>
                <td>{{list.FullName}}</td>
                <td >{{list.Email}}</td>
                <td style="color: rgb(58, 223, 127); font-weight: bold">{{list.Experience}}</td>
            </tr>
        </tbody>
    </table>
</div>