
<body>
    <div class="container" >
        <div class="form-group item" id="item1" >
            <div >
                <select class="form-control" id="exampleFormControlSelect1" (change)="applyFilter()" [(ngModel)]="filter.categoryId"> 
                    <option value="-1" selected>{{labelService.labels['categories']}}</option>
                    <option *ngFor="let category of categories" [value]="category.Id">{{category.Name}}</option>
                </select>
            </div>
        </div>
        
        <div class="input-group rounded item col-sm-4" id="item2">
            <input type="search" class="form-control rounded" placeholder="{{labelService.labels['search']}}" 
            name="filterPost" [(ngModel)]="filter.search" (change)="applyFilter()"
            aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text-lg mt-2 ml-2 border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
        
    </div>
        <div class="container-cards">
            <h1 class="title">{{labelService.labels['sections']}}</h1>
            <div *ngFor="let list of sectionsList " style="display:inline-block;" class="animated fadeInRight">
                <app-card-sections [nameSection]="list.Name" 
                                   [descSection]="list.Description"
                                   [imageSection]="list.Url_Image"
                                   [countChallenge]="list.ChallengeCount"
                                   [idSection]="list.Id">
                </app-card-sections>
            </div>
        </div>
</body>
