<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active">{{labelService.labels['recovery-password']}}</h2>


            <!-- Recovery Password Form -->
            <form>
                <input type="text" id="email" class="fadeIn third" name="login" placeholder="{{labelService.labels['email']}}">
                <input type="submit" class="fadeIn fourth" value="{{labelService.labels['send']}}">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" [routerLink]="'/login'" href="#">{{messageService.messages['back-login']}}</a>
            </div>

        </div>
    </div>
</body>