body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  // position: fixed;
  background: #ffffff;
  box-shadow: 2px 2px 5px #999;
  width: 100%;
  padding-bottom: 10px;
  
  
}

.left_area h3 {
  color: #fff;
  margin-left: 20px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

hr {
  background-color: white;
  width: 50%;
  opacity: 0.5;
}

.exp {
  float: right;
  margin-top: -30px;
  margin-right: 100px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.store img{
  width: 36px;
  height: 36px;
  float: right;
  margin-top: -40px;
  margin-right: 210px;
  cursor:pointer;
}

.light img{
  width: 36px;
  height: 36px;
  float: right;
  margin-right: 30px;
  margin-top: -43px;
  cursor:pointer;
}

.language-en img{
  width: 40px;
  height: 40px;
  float: right;
  margin-top: -43px;
  margin-right: 280px;
  cursor:pointer;
}

.language-es img{
    width: 36px;
    height: 36px;
    float: right;
    margin-top: -40px;
    margin-right: 320px;
    cursor:pointer;  
  }

  .store img:hover{
    transition: width 4s, transform 1s;
    transform: scale(1.5);
  }
  .language-es img:hover{
    transition: width 4s, transform 1s;
    transform: scale(1.5);
     
  }

  .language-en img:hover{
    transition: width 4s, transform 1s;
    transform: scale(1.5);
     
  }

  .light img:hover{
    transition: width 4s, transform 1s;
    transform: scale(1.5);
  }

.light span{
  float: right;
  margin-right: 80px;
  font-weight: bold;
  margin-top: -35px;
  color: grey;
  cursor:pointer;
}

.hide-side {
  color:#ac2cb3;
  margin-left: 237px;
}

.hide-side:hover {
  cursor: pointer;
  color:#7a46c2
}

.sidebar {
  background: #2b344b;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  top:0px;
}

.sidebar .profile_image {
  width: 120px;
  height: 120px;
  margin-top: 80px;
  border-radius: 100px;

}

.sidebar h4 {
  color: #ccc;
  margin-bottom: 10px;
  font-size: 18px;
}

.sidebar p {
  color: #ccc;
  margin-bottom: 5px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;

  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

// .items a:hover {
//   background-color:#ac2cb3;
//   border-radius: 10px;
//   cursor: pointer;
// }

// .items i {
//   padding-right: 10px;
// }

.hideMenu{
  left: -199px;
}

.hideItems{
  display:none;
  
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check {
  display: none;
}

.language-ess img{
  width: 50px;
  height: 50px;
  float: right;
  margin-top: -35px;
  margin-right: 150px;
  cursor:pointer;  
}

.company{
  font-size: 15px;
}