<body>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="footer">
    <div id="button"></div>
  <div id="container">
  <div id="cont">
  <!-- <div class="footer_center">
        <h3>ITrivia footer</h3>
  </div> -->
  <!-- <h3 class="text-center ">ITrivia</h3> -->
  <!-- <i class="bi bi-instagram"></i>
  <p class="text-center">{{messageService.messages['footer']}}</p> -->
  </div>
  <ul>
    <li><a href="https://www.facebook.com/itrivia"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://www.twitter.com/itrivia"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/itrivia"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  </div>
  <body>
    
  </body>